root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.go]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
ij_continuation_indent_size = 4
ij_go_GROUP_CURRENT_PROJECT_IMPORTS = true
ij_go_add_parentheses_for_single_import = true
ij_go_group_stdlib_imports = true
ij_go_import_sorting = gofmt
ij_go_local_group_mode = project
ij_go_move_all_imports_in_one_declaration = true
ij_go_move_all_stdlib_imports_in_one_group = true

[go.mod]
indent_style = tab
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab
trim_trailing_whitespace = true

[*.{yaml,yml}]
trim_trailing_whitespace = true
