---
name: "Lint"

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  push:
    branches: [master]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@v8
        env:
          VALIDATE_ALL_CODEBASE: ${{ github.event_name != 'pull_request' }}
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          # go validator works pretty bad in super-linter, we'll use the original one
          VALIDATE_GO: false
          VALIDATE_GO_MODULES: false
          # do not validate SQL - linters are pretty useless in case of this library,
          # and the functionality is tested using integration tests
          VALIDATE_SQL: false
          VALIDATE_SQLFLUFF: false
          VALIDATE_CHECKOV: false
          # it forces all list items to be on a single line in .github/linters/.jscpd.json that is not pretty at all
          VALIDATE_JSON_PRETTIER: false
          # to see the problems right in the workflow output
          FIX_MARKDOWN_PRETTIER: true

      - name: Check linter fixes
        if: failure()
        run: |
          git --no-pager diff

      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version-file: "./go.mod"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint Golang
        uses: golangci/golangci-lint-action@v8
        with:
          only-new-issues: ${{ github.event_name == 'pull_request' }}
          args: >
            --config=./.github/linters/.golangci.yml
            --timeout=5m

  codespell:
    name: Check spelling
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5
      - uses: codespell-project/actions-codespell@v2
