name: Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [ lint ]

    services:
      postgres:
        image: postgres:9.6-alpine
        ports:
          - "5432"
        env:
          LC_ALL: C.UTF-8
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run tests
        if: success()
        run: go test -timeout 60s -cover ./... -coverprofile=coverage.txt -covermode=atomic
        env:
          TEST_POSTGRES: 'postgres://test:test@localhost:${{ job.services.postgres.ports[5432] }}/test?sslmode=disable'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        if: success()
        with:
          file: ./coverage.txt
          fail_ci_if_error: false
